.slider {
    position: relative;
}
.slider img{
    width: 100%;
    height: 500px;
    border-radius: 25px;
}
.slide-btn {
    position : absolute;
    /* transition : background .3s ease; */
    bottom : 30px;
    height: 50px;
    width: 156px;
    left: 90%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.slide-btn button{
    background-color: rgb(224, 233, 159);
    color: black;
    font-weight: bold;
    border: 0px;
    border-radius: 999px;
    height: 50px;
    width: 50px;
}
.newImages img{
    height: 300px;
    width: 300px;
    margin : 50 80 10 100;
}
.newImagesDetail {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.newImagesDetail button {
    background-color: rgb(224, 233, 159);
    color: black;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 999px;
    height: 50px;
    width: 50px;
}
.newImageOne {
    border: 1px solid rgb(224, 233, 159);
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 15px;
}
.hiMent {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
    background-color: rgb(224, 233, 159);
}